.App {
  margin: 3rem auto;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content-area {
  background: #fff;
}